{% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kalyb</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>

<header id="#header">
    <nav>
        <div class="logo">Kalyb</div>

        <ul>
            <li><a href="{% url 'home' %}" class="">home</a></li>
            <li><a href="#about" class="">about</a></li>
            <li><a href="#portfolio" class="">portfolio</a></li>
            <li><a href="#contact" class="">contact</a></li>
            <li><a href="https://www.linkedin.com/in/kalyb-sanders-a7872b237/"><img src="{% static 'img/linkedin-circled-30.png' %}"></a></li>
            <li><a href="https://github.com/KalybSanders"><img src="{% static 'img/github-30.png' %}"></a></li>
        </ul>

        <!-- <img src="{% static 'img/arrow.svg' %}" class="" onclick="" /> -->
    </nav>

    <div class="header-text">
        <p>Web Developer</p>
        <h1>Hello, I'm <span>Kalyb Sanders</span> <br>  From Georgia.</h1>
    </div>

</header>

<div id="about">

    <div class="container">

        <div class="row">

            <div class="about-col-1">
                <img src="{% static 'img/me.jpg' %}" alt="" />
            </div>

            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Hi, I'm Kalyb Sanders. I'm a web developer who crafts solutions best suited for you. </p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="">Education</p>
                    <p class="tab-links" onclick="">Skills</p>
                    <p class="tab-links" onclick="">Experience</p>
                </div>

                <div class="tab-contents active-tab" id="education">
                    <ul>
                        <li><span>University of Georgia</span><br>Bachelors in Computer Science</li>
                        <li><span>University of Georgia</span><br>Minor in German Studies</li>
                    </ul>
                </div>

                <div class="tab-contents" id="skills">
                    <ul>
                        <li><span>Web Development</span><br>Front End<br>Database Management<br>RestfulAPI<br>MVC Development</li>
                        <li><span>Web Frameworks</span><br>Django<br>React</li>
                        <li><span>Databases</span><br>MySQL, PostgresQL, SQLite, Firebase</li>
                        <li><span>App Development</span><br>Android App Development in<br>Android Studio</li>
                    </ul>
                </div>

                <div class="tab-contents" id="experience">
                    <ul>
                        <li>
                            <span>Intermediate</span><br>Java, Python, C++, PHP<br>HTML & CSS, SQL
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>

</body>
