{% load static %}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kalyb</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>

<header id="#header">

    <nav>
        <div class="logo">Kalyb</div>

        <ul>
            <li><a href="{% url 'home' %}" class="">home</a></li>
            <li><a href="#about" class="">about</a></li>
            <li><a href="#portfolio" class="">portfolio</a></li>
            <li><a href="#contact" class="">contact</a></li>
            <li><a href="https://www.linkedin.com/in/kalyb-sanders-a7872b237/"><img src="{% static 'img/linkedin-circled-30.png' %}"></a></li>
            <li><a href="https://github.com/KalybSanders"><img src="{% static 'img/github-30.png' %}"></a></li>
        </ul>
    </nav>

    <div class="header-text">
        <p>Web Developer</p>
        <h1>Hello, I'm <span>Kalyb Sanders</span> <br>  From Georgia.</h1>
    </div>

</header>

<!-- About Section -->
<div id="about">
    <div class="container">

        <div class="row">

            <div class="about-col-1">
                <img src="{% static 'img/me.jpg' %}" alt="" />
            </div>

            <div class="about-col-2">

                <h1 class="sub-title">About Me</h1>

                <p>Hi, I'm Kalyb Sanders. I'm a web developer who crafts solutions best suited for you. </p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="">Education</p>
                    <p class="tab-links" onclick="">Skills</p>
                    <p class="tab-links" onclick="">Experience</p>
                </div>

                <div class="tab-contents active-tab" id="education">
                    <ul>
                        <li><span>University of Georgia</span><br>Bachelors in Computer Science</li>
                        <li><span>University of Georgia</span><br>Minor in German Studies</li>
                    </ul>
                </div>

                <div class="tab-contents" id="skills">
                    <ul>
                        <li><span>Web Development</span><br>Front End<br>Database Management<br>RestfulAPI<br>MVC Development</li>
                        <li><span>Web Frameworks</span><br>Django<br>React</li>
                        <li><span>Databases</span><br>MySQL, PostgresQL, SQLite, Firebase</li>
                        <li><span>App Development</span><br>Android App Development in<br>Android Studio</li>
                    </ul>
                </div>

                <div class="tab-contents" id="experience">
                    <ul>
                        <li>
                            <span>Intermediate</span><br>Java, Python, C++, PHP<br>HTML & CSS, SQL
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Works Section -->
<div id="works">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>

        <div class="work-list">
            <div class="work">
                <img src="{% static 'img/Poké_Ball_icon.svg.png' %}">
                <div class="layer">
                    <h3>Pokemon Pokedex Site</h3>
                    <p>A site that constructs a pokedex from data fetched from a 3rd party API.</p>
                    <a href="https://pokemonfanclub.vercel.app">App</a>
                </div>
            </div>

            <!-- add more works -->
        </div>
    </div>
</div>

<!-- Contact Me Section -->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p>isanders.kalyb@gmail.com</p>
                <p>(404) 388-3382</p>
                <p>Fayetteville, Georgia</p>
                <p></p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/kalyb-sanders-a7872b237/"><img src="{% static 'img/linkedin-circled-30.png' %}"></a>
                    <a href="https://github.com/KalybSanders"><img src="{% static 'img/github-30.png' %}"></a>
                </div>
                <a href="{% static 'img/my-cv.pdf' %}" download class="btn btn2">Download CV</a>
            </div>
            <div class="contact-right">
                <form action="contact" name="contactForm" method="POST">
                    {% csrf_token %}
                    <ul>
                        <li><input type="text" name="fullName" id="fullName" placeholder="Full Name" required/></li>
                        <li><input type="tel" name="phone" id="phone" placeholder="Phone Number (ex. 123-456-7890)" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/></li>
                        <li><input type="email" name="email" id="email" placeholder="Email" required/></li>
                        <li><textarea type="text" name="message" id="message" placeholder="Message contents..." height="1000px" required></textarea></li>
                        <li><input type="submit" value="Submit" class="btn btn2"/></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>Copyright © Kalyb Sanders.</p>
    </div>
</div>

<script>
    var tabLinks = document.getElementsByClassName("tab-links");
    var tabContents = document.getElementsByClassName("tab-contents");

    function opentab(tabName) {
        for(tabLink of tabLinks) {
            tabLink.classList.remove("active-link")
        }
        for(tabContent of tabContents) {
            tabContent.classList.remove("active-tab")
        }
        event.currentTarget.classList.add("active-link")
        document.getElementById(tabName).classList.add("active-tab")
    }
</script>

</body>
